<footer>
    <div class="foot-content">
        <img src="/assets/Argentina-programa-logo.png" alt="APlogo" width="120px">
        <p>Portfolio web creado para la iniciativa de Argentina Programa - #YoProgramo.</p>
        <ul class="socials">
            <li><a href="https://www.facebook.com/michy.punk"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/pyro.c4t/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/Gato_Al_Limite"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/luis-serrano-devp"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li><a href="https://github.com/PyroC4t"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"><i class="fa-solid fa-terminal"></i></a></li>
        </ul>
    </div>
    <div class="foot-bottom">
            <p>copyright &copy;2022. Designed by <span>Luis Serrano</span></p>
    </div>
</footer>
