.icon{
    font-size: 20px;
    margin: 0px 10px 10px 5px;
    align-items: center;
}

button{
    background-color: black;
    color: white;
    margin: 0px 10px 20px 0px;
    padding: 8px 20px;
    border-radius: 0.7rem;
    align-items: center;
}

.btnedit{
    background-color: black;
    color: white;
    margin: 5px 10px 0px 0px;
    padding: 6px 20px 6px 10px;
    border-radius: 0.7rem;
    align-items: center;
}