<div class="container">
    <div class="col-sm">
       <p class="titles">Acerca de mi</p> 
    </div>

    <div class="row center">
        <div class="col-sm-4 col-md-3 col-xl-3 flex">
            <img src="/assets/FotoPerfil.jpg" class="img-rounded" alt="FotoPerfil">
        </div>
        <div class="col-sm-6 col-md-8 col-xl-8 cards-about">
            <h5>Desarrollador web & Diseñador grafico</h5>
            <p>¡Hola, soy Luis! bienvenido a mi portfolio, quiero contarte que soy full stack web developer Jr. capacitado en el programa nacional llamado "Argentina Programa" 
                dicho programa consta de dos etapas una llamada "#YoProgramo" en la cual se nos introdujo en el mundo de la programacion y sus nociones basicas viendo lenguajes tales 
                como "Goobstones", "Javascript" y "Ruby" en la segunda etapa llamada "#SeProgramar" se nos capacito en el desarrolo web a nivel junior 
                viendo herramientas de Frontend en lenguajes tales como "HTML", "CSS", "Javascript" y "Typescript" asi tambien frameworks como "Bootstrap" Y "Angular" 
                viendo herramientas de Frontend en lenguajes tales como "HTML", "CSS", "Javascript" y "Typescript" asi tambien frameworks como "Bootstrap" Y "Angular"
                viendo herramientas de Frontend en lenguajes tales como "HTML", "CSS", "Javascript" y "Typescript" asi tambien frameworks como "Bootstrap" Y "Angular"
            </p>
            <br>
            <div class="row center">
                <div class="cards-icon">
                    <a href="https:www.facebook.com"><i class="fa-brands fa-facebook home-icons"></i></a>
                    <h6>Facebook</h6>
                </div>
                <div class="cards-icon">
                    <a href="https:www.instagram.com"><i class="fa-brands fa-instagram home-icons"></i></a>
                    <h6>Instagram</h6>
                </div>
                <div class="cards-icon">
                    <a href="https:www.github.com"><i class="fa-brands fa-github home-icons"></i></a>
                    <h6>Github</h6>
                </div>
                <div class="cards-icon">
                    <a href="https:www.linkedin.com"><i class="fa-brands fa-linkedin home-icons"></i></a>
                    <h6>Linkedin</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
