<div class="container">
    <div class="col-sm">
       <p class="titles">Acerca de mi</p> 
    </div>

    <div class="row center">
        <div class="col-sm-4 col-md-3 col-xl-3 flex">
            <img src="/assets/FotoPerfil.jpg" class="img-rounded" alt="FotoPerfil">
        </div>
        <div class="col-sm-6 col-md-8 col-xl-8 cards-about">
            <h5>{{acerca.titulo}}</h5>
            <p> {{acerca.descripcion}}</p>
            <br>
            <div class="row center">
                <div class="cards-icon">
                    <a href="https:www.facebook.com"><i class="fa-brands fa-facebook home-icons"></i></a>
                    <h6>Facebook</h6>
                </div>
                <div class="cards-icon">
                    <a href="https:www.instagram.com"><i class="fa-brands fa-instagram home-icons"></i></a>
                    <h6>Instagram</h6>
                </div>
                <div class="cards-icon">
                    <a href="https:www.github.com"><i class="fa-brands fa-github home-icons"></i></a>
                    <h6>Github</h6>
                </div>
                <div class="cards-icon">
                    <a href="https:www.linkedin.com"><i class="fa-brands fa-linkedin home-icons"></i></a>
                    <h6>Linkedin</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
