<div class="container">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
       <p class="titles">Acerca de mi</p> 
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <button type="button" class="btn btn-light btn-lg" routerLink="/nuevaInfo" *ngIf="isLogged"><b>Añadir nueva Información</b></button>
    </div>

    <div class="row center" *ngFor="let Acercade of acercade">
        <div class="col-5 col-sm-5 col-md-4 col-lg-4 col-xl-3 flex borderanimate">
            <span></span>
            <img src={{Acercade.imgAc}} class="img-rounded" alt="FotoPerfil">
        </div>

        <div class="col-7 col-sm-7 col-md-8 col-lg-8 col-xl-6 cards-about">
            <h4>{{Acercade.tituloAc}}</h4>
            <p>{{Acercade.descripcionAc}}</p>
            <br>
            <div class="row center">
                <div class="gridcard d-flex">
                    <article>
                        <a href={{Acercade.linkiAc}}><i class="fa-brands fa-instagram home-icons"></i></a>
                    </article>
                    <article>
                        <a href={{Acercade.linkgAc}}><i class="fa-brands fa-github home-icons"></i></a>
                    </article>
                    <article>
                        <a href={{Acercade.linklAc}}><i class="fa-brands fa-linkedin home-icons"></i></a>
                    </article>
                </div>
            </div>

            <div class="text-center py-4">
                <button class="btnedit btn-outline-light" routerLink="/editInfo/{{Acercade.id}}" *ngIf="isLogged"><i class="icon bi bi-pencil-fill"></i><b> Editar</b></button>
                <button class="btnedit btn-outline-light" (click)="delete(Acercade.id)" *ngIf="isLogged"><i class="icon bi bi-trash-fill"></i><b> Borrar</b></button>
            </div>
        </div>
    </div>
</div>
<br>
<br>