<div class="container-fluid acercaEdit d-flex justify-content-center" *ngIf="acerde">
    <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-6 col-xxl-6">
        <div class="cards-section">

            <div class="d-flex justify-content-center text-center mx-3 mb-4 mt-1 pt-1">
                <img class="img-responsive" src="/assets/Argentina-programa-logo.png" alt="logo" width="140px">
            </div>

            <h6 class="text-center">Completar el formulario para actualizar la información</h6>

            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="tituloAc">Titulo de la información</label>
                    <input type="text" class="form-control" id="tituloAc" name="tituloAc" [(ngModel)]="acerde.tituloAc" required>
                </div>
                <div class="form-group">
                    <label for="descripcionAc">Descripcion sobre vos</label>
                    <input type="text" class="form-control" id="descripcionAc" name="descripcionAc" [(ngModel)]="acerde.descripcionAc" required>
                </div>
                <div class="form-group">
                    <label for="linkiAc">URL de tu Instagram</label>
                    <input type="text" class="form-control" id="linkiAc" name="linkiAc" [(ngModel)]="acerde.linkiAc" required>
                </div>
                <div class="form-group">
                    <label for="linkgAc">URL de tu repositorio Github</label>
                    <input type="text" class="form-control" id="linkgAc" name="linkgAc" [(ngModel)]="acerde.linkgAc" required>
                </div>
                <div class="form-group">
                    <label for="linklAc">URL de tu Linkedin</label>
                    <input type="text" class="form-control" id="linklAc" name="linklAc" [(ngModel)]="acerde.linklAc" required>
                </div>

                <div class="form-group">
                    <label for="imgAc">URL Imagen de perfil</label>
                    <input type="text" class="form-control" id="imgAc" name="imgAc" [(ngModel)]="acerde.imgAc" required>
                </div>

                <div class="text-center">
                    <button class="btn btn-outline-light justify-content-center"><b>Actualizar</b></button>
                </div>

            </form>
        </div>
    </div>
</div>
