<div class="container">
    <section>
        <ul>
            <li><a href="#Home" data-text="Home">Home</a></li>
            <li><a href="#Acerca" data-text="Acerca">Acerca</a></li>
            <li><a href="#Educacion" data-text="Educación">Educación</a></li>
            <li><a href="#Skills" data-text="Skills">Skills</a></li>
            <li><a href="#Experiencia" data-text="Experiencia">Experiencia</a></li>
            <li><a href="#Proyectos" data-text="Proyectos">Proyectos</a></li>
            <li><a href="#Contacto" data-text="Contacto">Contacto</a></li>
        </ul>
    </section>
</div>
