<div class="container">
    <section>
        <ul>
            <li><a href="#Home" data-text="Home">Home</a></li>
            <li><a href="#Acerca" data-text="Acerca">Acerca</a></li>
            <li><a href="#Educacion" data-text="Educación">Educación</a></li>
            <li><a href="#Skills" data-text="Skills">Skills</a></li>
            <li><a href="#Experiencia" data-text="Experiencia">Experiencia</a></li>
            <li><a href="#Proyectos" data-text="Proyectos">Proyectos</a></li>
            <li><a href="#Contacto" data-text="Contacto">Contacto</a></li>
        </ul>
    </section>
</div>

<!-- <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid justify-content-center align-items-center text-center">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse justify-content-center align-items-center text-center" id="navbarSupportedContent">
            <ul>
                <li><a href="#Home" data-text="Home">Home</a></li>
                <li><a href="#Acerca" data-text="Acerca">Acerca</a></li>
                <li><a href="#Educacion" data-text="Educación">Educación</a></li>
                <li><a href="#Skills" data-text="Skills">Skills</a></li>
                <li><a href="#Experiencia" data-text="Experiencia">Experiencia</a></li>
                <li><a href="#Proyectos" data-text="Proyectos">Proyectos</a></li>
                <li><a href="#Contacto" data-text="Contacto">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav> -->