<div class="container-fluid">
    <div class="row backgroundForms justify-content-center" *ngIf="proyect">
        <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8">
            <div class="cards-section">
    
                <div class="d-flex justify-content-center text-center mx-3 mb-4 mt-1 pt-1">
                    <img src="/assets/Argentina-programa-logo.png" alt="logo" width="140px">
                </div>
    
                <h5>Completar el formulario para editar la información</h5>
    
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombrePro">Nombre del Proyecto</label>
                        <input type="text" class="form-control" id="nombrePro" name="nombrePro" [(ngModel)]="proyect.nombrePro" required="required">
                    </div>
                    <div class="form-group">
                        <label for="descripcionPro">Descripción del proyecto</label>
                        <input type="text" class="form-control" id="descripcionPro" name="descripcionPro" [(ngModel)]="proyect.descripcionPro" required="required">
                    </div>
                    <div class="form-group">
                        <label for="enlacesitePro">URL del sitio del proyecto</label>
                        <input type="text" class="form-control" id="enlacesitePro" name="enlacesitePro" [(ngModel)]="proyect.enlacesitePro" required="required">
                    </div>
                    <div class="form-group">
                        <label for="enlacerepoPro">URL del repositorio en GitHub</label>
                        <input type="text" class="form-control" id="enlacerepoPro" name="enlacerepoPro" [(ngModel)]="proyect.enlacerepoPro" required="required">
                    </div>
                    <div class="form-group">
                        <label for="imgPro">URL imagen del proyecto</label>
                        <input type="text" class="form-control" id="imgPro" name="imgPro" [(ngModel)]="proyect.imgPro" required="required">
                    </div>
    
                    <div class="text-center">
                        <button class="btn btn-outline-light justify-content-center"><b>Actualizar</b></button>
                    </div>   
                </form>
            </div>
        </div>
    </div>
</div>