<div class="container">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h4 class="titles">Proyectos</h4>
    </div>
    
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 py-3 text-center">
        <button type="button" class="btn btn-outline-light btn-lg" routerLink="/nuevopro" *ngIf="isLogged"><b>Añadir nuevo proyecto</b></button>
    </div>

    <div class="container py-3" *ngFor="let Proyecto of pro">
        <main class="grid">
            <article>
                <img src="/assets/imgHeader.jpg" alt="imgProyecto">
                <div class="text">
                    <h5>{{Proyecto.nombrePro}}</h5>
                    <p>{{Proyecto.descripcionPro}}</p>
                    <a href="https://{{Proyecto.enlacesitePro}}"><button><i class="fa-solid fa-link"></i></button></a>
                    <a href="https://{{Proyecto.enlacerepoPro}}"><button><i class="fa-brands fa-github"></i></button></a>
                </div>
                <button class="btnedit btn-dark" routerLink="/editpro/{{Proyecto.id}}" *ngIf="isLogged"><i class="bi bi-pencil-fill iconedit"></i><b> Editar</b></button>
                <button class="btnedit btn-dark" (click)="delete(Proyecto.id)" *ngIf="isLogged"><i class="bi bi-trash-fill iconedit"></i><b> Borrar</b></button>
            </article>
        </main>
    </div>
</div>

