<div class="container">
    <div class="col-sm">
        <h4 class="titles">Proyectos</h4>
    </div>
    
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        
        <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let proyectos of proyectosList">
                <main class="grid">
                    <article>
                        <img [src]="proyectos.img" alt="imgProyecto">
                        <div class="text">
                            <h4>{{proyectos.title}}</h4>
                            <p>{{proyectos.descripcion}}</p>
                            <a [href]="proyectos.link"><button><i class="fa-solid fa-link"></i></button></a>
                            <a [href]="proyectos.git"><button><i class="fa-brands fa-github"></i></button></a>
                        </div>
                    </article>
                </main>
            </div>
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>
<br>
<br>
