<div class="container">
    <div class="col-sm">
        <h4 class="titles">Proyectos</h4>
    </div>
    
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators" style="margin-bottom: 10px">
          <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>
        
        <div class="carousel-inner">
            <div class="carousel-item active">
                <main class="grid">
                    <article>
                        <img src="/assets/imgHeader.jpg" alt="imgProyecto">
                        <div class="text">
                            <h4>Proyecto 1</h4>
                            <p>lorem impsum dolor sit amet consectetur adipiscing elit Eligendi, debitis?</p>
                            <a href="http://www.github.com"><button><i class="fa-solid fa-link"></i></button></a>
                            <a href="http://www.github.com"><button><i class="fa-brands fa-github"></i></button></a>
                        </div>
                    </article>
                </main>
            </div>
            <div class="carousel-item">
                <main class="grid">
                    <article>
                        <img src="/assets/imgHeader.jpg" alt="imgProyecto">
                        <div class="text">
                            <h4>Proyecto 2</h4>
                            <p>lorem impsum dolor sit amet consectetur adipiscing elit Eligendi, debitis?</p>
                            <a href="http://www.github.com"><button><i class="fa-solid fa-link"></i></button></a>
                            <a href="http://www.github.com"><button><i class="fa-brands fa-github"></i></button></a>
                        </div>
                    </article>
                </main>
            </div>
            <div class="carousel-item">
                <main class="grid">
                    <article>
                        <img src="/assets/imgHeader.jpg" alt="imgProyecto">
                        <div class="text">
                            <h4>Proyecto 3</h4>
                            <p>lorem impsum dolor sit amet consectetur adipiscing elit Eligendi, debitis?</p>
                            <a href="http://www.github.com"><button><i class="fa-solid fa-link"></i></button></a>
                            <a href="http://www.github.com"><button><i class="fa-brands fa-github"></i></button></a>
                        </div>
                    </article>
                </main>
            </div>
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>
<br>
<br>
