<div class="container backcolor" *ngIf="expLab">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreExp">Nombre de la profesion</label>
                    <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="expLab.nombreExp" required>
                </div>
                <div class="form-group">
                    <label for="empresaExp">Nombre de la empresa</label>
                    <input type="text" class="form-control" id="empresaExp" name="empresaExp" [(ngModel)]="expLab.empresaExp" required>
                </div>
                <div class="form-group">
                    <label for="cargoExp">cargo</label>
                    <input type="text" class="form-control" id="cargoExp" name="cargoExp" [(ngModel)]="expLab.cargoExp" required>
                </div>
                <div class="form-group">
                    <label for="descripcionExp">descripcion de la actividad</label>
                    <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="expLab.descripcionExp" required>
                </div>
                <div class="form-group">
                    <label for="imgExp">URL imagen</label>
                    <input type="text" class="form-control" id="imgExp" name="imgExp" [(ngModel)]="expLab.imgExp" required>
                </div>
                <button class="btn btn-primary">Actualizar</button>
            </form>
        </div>
    </div>
</div>
