<div class="container-sm">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p class="titles">Experiencia</p>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <button type="button" class="btn btn-light btn-lg" routerLink="/nuevaexp" *ngIf="isLogged"><b>Añadir nueva experiencia</b></button>
    </div>

    <div class="row flex-section" *ngFor="let Experiencia of exp">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3 flex cards-img">
            <img class="img-item" src="/assets/LogoEmpresa.png" alt="logoEmpresa">
        </div>

        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-6 cards-section">
            <h4>{{Experiencia.nombreExp}}</h4>
            <ul class="listSquare">
                <li>Empresa: {{Experiencia.empresaExp}}</li>
                <li>cargo: {{Experiencia.cargoExp}}</li>
                <!-- <li>periodo: 1900 - 2100</li> -->
            </ul>
            <p>{{Experiencia.descripcionExp}}</p>
            <button class="btnedit btn-dark" routerLink="/editexp/{{Experiencia.id}}" *ngIf="isLogged"><i class="bi bi-pencil-fill"></i><b> Editar</b></button>
            <button class="btnedit btn-dark" (click)="delete(Experiencia.id)" *ngIf="isLogged"><i class="bi bi-trash-fill"></i><b> Borrar</b></button>
        </div>
    </div>
</div>
<br>