<div class="container-sm">
    <div class="col-sm">
        <p class="titles">Experiencia</p>
    </div>

    <div class="row flex-section">
        <div class="col-sm-2 col-md-3 col-xl-3 flex cards-img">
            <img class="img-item" src="/assets/LogoEmpresa.png" alt="logoEmpresa">
        </div>

        <div class="col-sm-5 col-md-8 col-xl-6 cards-section">
            <h4>Trabajo 1</h4>
            <ul class="listSquare">
                <li>Empresa:</li>
                <li>cargo:</li>
                <li>periodo: 1900 - 2100</li>
            </ul>
            <p>breve descripcion de la actividad que realizaba</p>
        </div>
    </div>

    <div class="row flex-section">
        <div class="col-sm-2 col-md-3 col-xl-3 flex cards-img">
            <img class="img-item" src="/assets/LogoEmpresa.png" alt="logoEmpresa">
        </div>

        <div class="col-sm-5 col-md-8 col-xl-6 cards-section">
            <h4>Trabajo 2</h4>
            <ul class="listSquare">
                <li>Empresa:</li>
                <li>cargo:</li>
                <li>periodo: 1900 - 2100</li>
            </ul>
            <p>breve descripcion de la actividad que realizaba</p>
        </div>
    </div>

    <div class="row flex-section">
        <div class="col-sm-2 col-md-3 col-xl-3 flex cards-img">
            <img class="img-item" src="/assets/LogoEmpresa.png" alt="logoEmpresa">
        </div>

        <div class="col-sm-5 col-md-8 col-xl-6 cards-section">
            <h4>Trabajo 3</h4>
            <ul class="listSquare">
                <li>Empresa:</li>
                <li>cargo:</li>
                <li>periodo: 1900 - 2100</li>
            </ul>
            <p>breve descripcion de la actividad que realizaba</p>
        </div>
    </div>
</div>
<br>