<div class="container-fluid">
    <div class="row backgroundForms justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8">
            <div class="cards-section">
    
                <div class="d-flex justify-content-center text-center mx-3 mb-4 mt-1 pt-1">
                    <img src="/assets/Argentina-programa-logo.png" alt="logo" width="140px">
                </div>
    
                <h5>Completar el formulario para añadir una nueva sección</h5>
    
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombreExp">Nombre de la profesión</label>
                        <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="nombreExp" required="required" placeholder="Ej: programador">
                    </div>
                    <div class="form-group">
                        <label for="empresaExp">Nombre de la empresa</label>
                        <input type="text" class="form-control" id="empresaExp" name="empresaExp" [(ngModel)]="empresaExp" required="required" placeholder="Ej: RockStar">
                    </div>
                    <div class="form-group">
                        <label for="cargoExp">Cargo</label>
                        <input type="text" class="form-control" id="cargoExp" name="cargoExp" [(ngModel)]="cargoExp" required="required" placeholder="Ej: Programador Senior">
                    </div>
                    <div class="form-group">
                        <label for="descripcionExp">Breve descripción de la actividad</label>
                        <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="descripcionExp" required="required" placeholder="Ej: Jefe de la sección de programación">
                    </div>
                    <div class="form-group">
                        <label for="imgExp">URL imagen de la empresa</label>
                        <input type="text" class="form-control" id="imgExp" name="imgExp" [(ngModel)]="imgExp" required="required" placeholder="Ej: https://www.pictures.com/imagen">
                    </div>
    
                    <div class="text-center">
                        <button class="btn btn-outline-light justify-content-center"><b>Añadir nueva experiencia</b></button>
                    </div>   
                </form>
            </div>
        </div>
    </div>
</div>