form{
    color: white;
}

.cards-section{
    background-color: #006eff;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100;
    height: auto;
    padding: 1rem 1.5rem;
    margin: 30px 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

h5{
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

label{
    font-family: 'Manrope', sans-serif;
}

::placeholder{
    font-family: 'Manrope', sans-serif;
}

input{
    margin-bottom: 5px;
}

button{
    font-family: 'Inter', sans-serif;
    margin: 20px 0 10px 0;
    padding: 10px 20px;
    border-radius: 0.5rem;
    color: white;   
}