<div class="container">
    <div class="container">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="Skills">
            <p class="titles" data-text="Skills">Skills</p>
        </div>

        <p class="subtitles">Diseñador gráfico</p> 

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <button type="button" class="btn btn-light btn-lg" routerLink="/nuevaSkill" *ngIf="isLogged"><b>Añadir nueva Skill</b></button>
        </div>

        <div class="row justify-content-center">
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 cards-skills">
                <p class="titles-skill">Diseño gráfico & Multimedia</p>
            
                <div class="flex-skillpb justify-content-center" *ngFor="let Skilldg of skill">
                    <img class="iconskill" src={{Skilldg.imgSkill}} alt="img Skill">
                    <div class="skills">
                        <div class="skill">
                            <div class="skill-name">{{Skilldg.nombreSkill}}</div>
                            <div class="skill-bar">
                                <div class="skill-per" style="max-width:{{Skilldg.porcentajeSkill}}%"></div>
                            </div>
                            <button class="btnedit btn-dark" routerLink="/editSkilldg/{{Skilldg.id}}" *ngIf="isLogged"><i class="icon bi bi-pencil-fill"></i></button>
                            <button class="btnedit btn-dark" (click)="delete(Skilldg.id)" *ngIf="isLogged"><i class="icon bi bi-trash-fill"></i></button>
                        </div>
                    </div>
                </div> 
                
            </div>
        </div>
    </div>
</div>
<br>