<div class="container">
    <div class="col-sm">
        <p class="titles">Skills</p>
    </div>
        
    <div class="container">
        <p class="subtitles">Diseñador grafico</p>

        <div class="col-lg-12 text-center">
            <button type="button" class="btn btn-light btn-lg" routerLink="/nuevaSkill" *ngIf="isLogged"><b>Añadir Skill</b></button>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-8 cards-skills">
                <p class="titles-skill">Diseño Grafico & Multimedia</p>

                <div class="col-sm">
                    <!-- <div class="row"> *este row separa en 2 columnas -->
                        <div class="col-sm flex-skillpb" *ngFor="let Skilldg of skill">
                            <img class="iconskill" src="{{Skilldg.imgSkill}}" alt="img Skill">
                            <div class="skills">
                                <div class="skill">
                                    <div class="skill-name">{{Skilldg.nombreSkill}}</div>
                                    <div class="skill-bar">
                                        <div class="skill-per" per="90%" style="max-width:{{Skilldg.porcentajeSkill}}%"></div>
                                    </div>
                                    <button class="btn btn-dark" routerLink="/editSkilldg/{{Skilldg.id}}" *ngIf="isLogged"><i class="icon bi bi-pencil-fill"></i><b> Editar</b></button>
                                    <button class="btn btn-dark" (click)="delete(Skilldg.id)" *ngIf="isLogged"><i class="icon bi bi-trash-fill"></i><b> Borrar</b></button>
                                </div>
                             </div>
                        </div>
                    <!-- </div> -->   
                </div>
            </div>

            <!--<div class="col-sm-5 cards-skills">
                <p class="titles-skill">Multimedia</p>

                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm flex-skillpb">
                            <img class="iconskill" src="/assets/Prlogob.png" alt="img Skill">
                            <div class="skills">
                                <div class="skill">
                                    <div class="skill-name">Premiere Pro</div>
                                    <div class="skill-bar">
                                        <div class="skill-per" per="80%" style="max-width:80%;"></div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<br>
<br>
