<div class="container">
    <div class="col-sm">
        <p class="titles">Skills</p>
    </div>
    <div class="container">
        <p class="subtitles">Desarrollador web</p>
    <div class="row justify-content-center" *ngFor="let skills of skillsList">
            <div class="col-sm-6 cards-skills">
                <p class="titles-skill">{{skills.title}}</p>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm flex-skill">
                                <i class="fa-solid fa-file-code"></i>
                                <p>{{skills.skill}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- <div class="col-sm-6 cards-skills">
                <p class="titles-skill">Backend</p>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm flex-skill">
                                <i class="fa-solid fa-server"></i>
                                <p>{{skills.skillback}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <br>

    <div class="container">
        <p class="subtitles">Diseñador grafico</p>
        <div class="row justify-content-center">
            <div class="col-sm-5 cards-skills">
                <p class="titles-skill">Diseño Grafico</p>

                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm flex-skillpb">
                            <img class="iconskill" src="/assets/Ailogo.png" alt="img Skill">
                            <div class="skills">
                                <div class="skill">
                                    <div class="skill-name">Illustrator</div>
                                    <div class="skill-bar">
                                        <div class="skill-per" per="90%" style="max-width:90%;"></div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm flex-skillpb">
                            <img class="iconskill" src="/assets/Pslogo.png" alt="img Skill">
                            <div class="skills">
                                <div class="skill">
                                    <div class="skill-name">Photoshop</div>
                                    <div class="skill-bar">
                                        <div class="skill-per" per="70%" style="max-width:70%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm flex-skillpb">
                            <img class="iconskill" src="/assets/Idlogo.png" alt="img Skill">
                            <div class="skills">
                                <div class="skill">
                                    <div class="skill-name">Indesign</div>
                                    <div class="skill-bar">
                                        <div class="skill-per" per="60%" style="max-width:60%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5 cards-skills">
                <p class="titles-skill">Multimedia</p>

                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm flex-skillpb">
                            <img class="iconskill" src="/assets/Prlogob.png" alt="img Skill">
                            <div class="skills">
                                <div class="skill">
                                    <div class="skill-name">Premiere Pro</div>
                                    <div class="skill-bar">
                                        <div class="skill-per" per="80%" style="max-width:80%;"></div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm flex-skillpb">
                            <img class="iconskill" src="/assets/Aelogob.png" alt="img Skill">
                            <div class="skills">
                                <div class="skill">
                                    <div class="skill-name">After effects</div>
                                    <div class="skill-bar">
                                        <div class="skill-per" per="50%" style="max-width:50%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm flex-skillpb">
                            <img class="iconskill" src="/assets/Aulogob.png" alt="img Skill">
                            <div class="skills">
                                <div class="skill">
                                    <div class="skill-name">Audition</div>
                                    <div class="skill-bar">
                                        <div class="skill-per" per="30%" style="max-width:30%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
