<div class="container-fluid">
    <div class="row backgroundForms justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8">
            <div class="cards-section">
    
                <div class="d-flex justify-content-center text-center mx-3 mb-4 mt-1 pt-1">
                    <img src="/assets/Argentina-programa-logo.png" alt="logo" width="140px">
                </div>
    
                <h5>Completar el formulario para añadir una nueva sección</h5>
    
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombreSkidev">Nombre de skill</label>
                        <input type="text" class="form-control" id="nombreSkidev" name="nombreSkidev" [(ngModel)]="nombreSkidev" required="required" placeholder="Ej: Phyton">
                    </div>
                    <div class="form-group">
                        <label for="porcentajeSkidev">Porcentaje de skill</label>
                        <input type="text" class="form-control" id="porcentajeSkidev" name="porcentajeSkidev" [(ngModel)]="porcentajeSkidev" required="required" placeholder="Valor entre 0 - 100">
                    </div>
                    <div class="form-group">
                        <label for="iconSkidev">URL imagen/icono de skill</label>
                        <input type="text" class="form-control" id="iconSkidev" name="iconSkidev" [(ngModel)]="iconSkidev" required="required" placeholder="Ej: https://www.pictures.com/imagen">
                    </div>
    
                    <div class="text-center">
                        <button class="btn btn-outline-light justify-content-center"><b>Añadir nuevo Skill</b></button>
                    </div>   
                </form>
            </div>
        </div>
    </div>
</div>
