<div class="container">
    <div class="container">
        <p class="subtitles">Desarrollador web</p>

        <div class="col-lg-12 text-center">
            <button type="button" class="btn btn-light btn-lg" routerLink="/nuevaSkilldev" *ngIf="isLogged" ><b>Añadir Skill</b></button>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-8 cards-skills">
                <p class="titles-skill">Full Stack developer Jr.</p>

                <div class="col-sm">
                    <!-- <div class="row"> *este row separa en 2 columnas -->
                        <div class="col-sm flex-skillpb" *ngFor="let Skilldev of skidev">
                            <i class="{{Skilldev.iconSkidev}}"></i>
                            <div class="skills">
                                <div class="skill">
                                    <div class="skill-name">{{Skilldev.nombreSkidev}}</div>
                                    <div class="skill-bar">
                                        <div class="skill-per" per="90%" style="max-width:{{Skilldev.porcentajeSkidev}}%"></div>
                                    </div>
                                    <button class="btn btn-dark" routerLink="/editSkilldev/{{Skilldev.id}}" *ngIf="isLogged"><i class="icon bi bi-pencil-fill"></i><b> Editar</b></button>
                                    <button class="btn btn-dark" (click)="delete(Skilldev.id)" *ngIf="isLogged"><i class="icon bi bi-trash-fill"></i><b> Borrar</b></button>
                                </div>
                             </div>
                        </div>
                    <!-- </div> -->   
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>