<section>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="card col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <div class="justify-content-center">
        <img src="/assets/Argentina-programa-logo.png" alt="logo Argentina Programa">
      </div>

      <p>login</p>
      <h4>Ingrese usuario & contraseña</h4>

      <form autocomplete="off" #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="inputBox">
          <input type="text" id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nombreUsuario" name="nombreUsuario" required="required">
          <span>Usuario</span>
        </div>

        <div class="inputBox">
          <input type="password" id="password" class="form-control form-control-lg" [(ngModel)]="password" name="password" required="required">
          <span>Contraseña</span>
        </div>

        <button class="btn btn-outline-light btn-lg mb-1 px-4 py-1" type="submit">Ingresar</button>

      </form>
    </div>
  </div>
</section>