*{
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
h6,h5,h4,h3,h2,h1 {
    font-family: Helvetica;
    font-weight: bold;
    color: white
}

p{
    font-family: Helvetica,sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: white
}

body{
    background-color: black;
}

i {
    color:white;
    font-size: 40px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

a {
    color: #08FDD8;
}

a:link {
    color: rgb(0, 195, 255);
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:active {
    color: white;
    text-decoration: none;
    
}

section{
    padding:120px 14%;
}

.center {
    justify-content: center;
    align-items: center;
}

.navbar-color {
    background-color: rgb(0, 195, 255);
}

.nav-item-left {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 2rem;
}

.nav-item-right {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 2rem;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    align-items: center;
}

.home-img img{
    max-width: 100%;
    width: 100;
    height: auto;
    padding: 1rem;
}

.home-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/image/carrousel2.png");
    background-color: #000000;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home-flex {
    justify-content: center;
    align-items: center;
    width: 100;
    height: 100vh;
}

.home-text {
    margin: 1rem 0 0 0;
}

.home-text h5{
    color: rgb(0, 195, 255);
    font-size: 16px;
    font-weight: 550;
    line-height: 18px;
    margin: 20px 0px;
}

.home-text h1{
    color: white;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
    margin: 20px 0px;
}

.home-text i{
    color: #08FDD8;
    font-size: 60px;
    font-weight: 700;
}

.home-text h6{
    color: white;
    font-size: 18px;
    font-weight: 350;
    margin-bottom: 25px;
    line-height: 20px;
}

.home-text p{
    max-width: 470px;
    font-weight: 300;
    line-height: 1rem;
    margin-bottom: 1.5rem;
    color: white;
}

.cards-icon{
    background-color: rgb(0, 195, 255);
    width: 60px;
    height: 55px;
    border-radius: 12px;
    padding: 0.2rem;
    margin: 0.5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.cards-icon i{
    font-size: 35px;
}

.cards-section{
    background-color: rgb(0, 195, 255);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100;
    height: auto;
    padding: 1rem 1.5rem;
    margin: 1rem 0.5rem;
}

.cards-skills{
    background-color: rgb(0, 195, 255);
    max-width: 100%;
    width: 700px;
    height: auto;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem 0.5rem;
}

.cards-img{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    width: 100;
    height: auto;
    padding: 15px 25px;
    margin: 0.5rem;

}

.cards-about {
    background-color: rgb(0, 0, 0);
    max-width: 100%; 
    width: 700px;
    height: auto;
    border-radius: 1rem;
    padding: 1rem 1.2rem;
    margin: 1rem;
}

.cards-about h5{
    color:#08FDD8;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.flex-menu p{
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    color:#08FDD8;
    margin: 1rem;
}

.flex-skill {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.flex-skillpb {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
}

.flex-skill p{
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    margin-left: 1.5rem;
    padding-top: 20px;
}

.flex-skill i{
    font-size: 45px;
}

.img-rounded {
    border-radius: 40px;
}

.img-thumb {
    border: 5px solid; color:rgb(0, 195, 255);
    border-radius: 40px;
}

.img-item {
    max-width: 100%;
    width: 170px;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-rounded {
    max-width: 100%;
    width: 100;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul {
    text-align: left;
}

li{
    font-family: Helvetica;
    font-size: 16px;
    color:white;
    list-style-type: square;
}

.titles{
    font-family: Helvetica;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    color: rgb(0, 195, 255);
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.subtitles{
    font-family: Helvetica;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    color: #08FDD8;
    padding: 1rem;
}

.texticons {
    margin-left: 20px;
}

.divd {
    width: 20px;
    height: 20px;
    background: white;
    transition: width 2s;
    border-radius: 1rem;
    transition-timing-function: ease;
}

.divd:hover {
    width: 500px;
}

.skills {
    width: 100%;
    max-width: 650px;
    padding: 0 20px;
}

.titles-skill{
    font-family: Helvetica;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.skill-name {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 600;   
    color: #ffffff;
    margin: 10px 5px;
    padding-top: 0.5rem;
}

.skill-bar {
    position: relative;
    height: 18px;
    background: #ffffff;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 4px 2px rgba(0,0,0,0.5),
                      0px 2px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.skill-per {
    height: 20px;
    background: #006efd;
    border-radius: 10px;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 2s 2s cubic-bezier(1,0,0.5,1) forwards;
}

.skill-perdev {
    height: 20px;
    background: #fd0059;
    border-radius: 10px;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 2s 2s cubic-bezier(1,0,0.5,1) forwards;
}

.skill-per::before {
    content: attr(per);
    color:#ffffff;
    position: absolute;
    padding: 5px 5px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    top: -7px;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transform: translateX(-5%);
}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

img.iconskill {
    margin-bottom:-25px;
    width: 60px;
    height: 60px;
}

.contactme {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
}

.contact-box {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.contact-box i {
    font-size: 50px;
    margin: 5px;
}

.left {
    height: 100%;
    padding: 25px 40px;
    border-radius: 10px;
    background-color: rgb(0, 195, 255);
    justify-content: center;
    align-items: center;
    text-align: left
}

.right {
    padding: 25px 40px;
    justify-content: center;
    align-items: center;
    text-align: center
}

h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2:after {
    content:'';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    border-radius: 2px;
    background-color: rgb(0, 195, 255);
}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgb(221, 221, 221);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
    background-color: #fff;
    border: 2px solid rgb(0, 195, 255);
}

.area {
    min-height: 130px;
}

.btncontact {
    width: 50%;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 1.1rem;
    background-color: rgb(0, 195, 255);
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}

.btnedit{
    margin: 2rem 1rem 0.1rem 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;   
}

.btncontact:hover {
    background-color: #006efd;
}

@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #08FDD8;
    max-width: 100%;
    height: auto;
    width: 100vw;
    padding-top: 20px;
}

.foot-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(0, 195, 255);
    padding-top: 15px;
}

.foot-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 18px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0.5rem 0;
}

.socials li{
    margin: 10px 20px;
    list-style-type: none;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.5rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color:#006efd;
}

.foot-bottom {
    background: #006efd;
    width: 100;
    padding: 5px;
    text-align: center;
}

.foot-bottom p{
    margin: 7px 0 5px 0;
}

.foot-bottom span{
    text-transform: uppercase;
    font-weight: 400;
    color:#000000;
}

.grid {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(0, 0fr);
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid > article {
    background: rgb(0, 195, 255);
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    transition: transform .3s;
}

.grid > article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 25px 0px rgb(0, 195, 255);
}

.grid > article img{
    width: 100%;
    border: 1px solid rgb(0, 195, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.text {
    padding: 20px 20px 20px;
}

.text h4 {
    text-transform: uppercase;
}

.text button {
    background: #006efd;
    border-radius: 10px;
    border: none;
    color: #fff;
    padding: 5px; 
    width: 60px;
    height: 50px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0px 10px;
}

.text i{
    font-size: 25px;
}

.text button:hover {
    background-color:rgb(0, 34, 185);
}

