*{
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

h6,h5,h4,h3,h2,h1 {
    font-family: Helvetica;
    font-weight: bold;
    color: white
}

p{
    font-family: Helvetica,sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: white
}

body{
    background-color: black;
}

i {
    color:white;
    font-size: 40px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.center {
    justify-content: center;
    align-items: center;
}

ul {
    text-align: left;
}

li{
    font-family: Helvetica;
    font-size: 16px;
    color:white;
    list-style-type: square;
}

.titles {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    position: relative;
    display: block;
    font-size: 50px;
    line-height: 50px;
    color: rgb(0, 195, 255);
    font-weight: bold;
    transition: 0.5s;
    transition-delay: 0.5s;
    margin: 0 10px;
    padding: 1rem;
    justify-content: center;
    text-align: center;
}

.titles:hover{
    color: rgba(255, 255, 255, 0.1);
    transform: translateY(-20px);
    transition-delay: 0s;
}

.titles::before{
    content: attr(data-text);
    position: absolute;
    bottom: -15px;
    pointer-events: none;
    z-index: 1;
    font-size: 15px;
    color: #08FDD8;
    font-weight: 600;
    letter-spacing: 20px;
    opacity: 0;
    transition: 0.5s;
    text-shadow: 0 0 10px #08FDD8,
                 0 0 30px #08FDD8,
                 0 0 80px #08FDD8;
    margin: 0 5px;
}

.titles:hover::before{
    letter-spacing: 2px;
    opacity: 1;
    transition-delay: 0.25s;
}

.subtitles{
    font-family: Helvetica;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    color: #08FDD8;
    padding: 1rem;
}